*.gitignore
*.class
.classpath
.gradle
.project
.settings
bin
build
build.xml
gen
libs
lint.xml
local.properties
proguard-project.txt
project.properties
/openCVLibrary310/src
/androidvosopencv/src/main/aa1_vos_android_catkin_ws___src
/androidvosopencvros/src/main/aa1_vos_android_catkin_ws___src
/androidvosopencvros/src/main/java/vos_aa1
/androidvosopencv/src/main/jniLibs
*.apk
captures


# These are Android Studio files, might be worth including these later.
*.iml
.idea
build.log
build-log.xml
/opencv/
/android_all_sensors_driver/
/android_camera_driver/
*~
*.log
