<?xml version="1.0" encoding="utf-8"?>
<manifest package="william.chamberlain.vos"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionCode="2"
          android:versionName="1.0"/> <!-- 'package' name for Android to label generated compenent classes e.g. org.ros.android.android_15 in [path]/android_core/android_15/build/generated/source/r/release/org/ros/android/android_15/R.java -->